{% assign _url = page.url %}
{% assign _on_tag_page = false %}
{% for tag in site.data.topics-tags %}
  {% if _url contains tag[0] %}{% assign _on_tag_page = true %}{% endif %}
{% endfor %}

<div id="topics-tag-select">
  カテゴリー ： <select id="topics-tag-select-input">
    <option value="/topics/"{% unless _on_tag_page %} selected{% endunless %}>すべての記事</option>
    {% for tag in site.data.topics-tags %}
    <option value="/topics/{{ tag[1].page }}"{% if _url contains tag[0] %} selected{% endif %}>{{ tag[1].name }}</option>
    {% endfor %}
  </select>
</div>
<script>
(function() {
  var urls = [
    '/topics/',
    {% for tag in site.data.topics-tags %}'{{ tag[1].page | prepend: '/topics/' }}',
    {% endfor %}
  ];
  document.getElementById('topics-tag-select-input').addEventListener('change', function() {
    var idx = this.selectedIndex;
    if (idx >= 0 && idx < urls.length) {
      location.href = urls[idx];
    }
  });
})();
</script>
