---
title: 活躍中のOBより
social_description: "OWLSに興味がある方へ向けたメッセージを、現役選手として活躍中のOBから貰いました。"
social_image: "/assets/images/message/obog-og.jpg"
---

{% include breadcrumb.html list="/message/, メッセージ" %}

<h1 id="bg2">活躍中のOBより</h1>

{% assign featured = "" | split: "" %}
{% for id in site.data.featured-messages %}
{% for msg in site.messages %}
{% assign name = msg.path | split: "/" | last | split: "." | first %}
{% if name == id %}
{% assign featured = featured | push: msg %}
{% endif %}
{% endfor %}{% endfor %}

{%- comment -%}
TODO: CSSで記事の後半を隠しているが、そもそもHTMLにも不要なのでいい感じに削れると良い。
{%- endcomment -%}

{% for item in featured %}
<div id="msg-{{ forloop.index }}" class="ob-message-top-box">
    {% include message_item.html message=item %}
    <div class="readmore"><a href="{{ item.url }}">続きを読む</a></div>
</div>
{% endfor %}

<h2>他のメッセージ</h2>

{% assign others = "" | split: "" %}
{% for msg in site.messages %}
{% assign name = msg.path | split: "/" | last | split: "." | first %}
{% unless site.data.featured-messages contains name %}
{% assign others = others | push: msg %}
{% endunless %}
{% endfor %}

{% include messages_list.html messages=others %}

<p style="clear:both"><a href="index.html">メッセージのトップに戻る</a></p>